/* --------------------- Imports --------------------- */
@import url(root.css);
@import url(styles.css);

/* --------------------- Layout Base --------------------- */
.column {
    flex-direction: column;
}

/* --------------------- Botões --------------------- */
.btnBed {
    display: flex;
    position: absolute;
    background-color: rgba(141, 238, 130, 0);
    align-items: center;
    justify-content: space-between;
}

.btnBed button {
    font-family: var(--fontePadrao);
    font-size: 20px;
    color: rgb(78, 78, 78);
}

.btnBed button ion-icon {
    color: green;
    font-size: 40px;
}

.btnBed button:hover {
    scale: 1.1;
}

.btnWorkbench {
    border-radius: 8px;
    display: flex;
    background-color: var(--corBtnWorkbench);
    transition: all ease-in-out 0.2s;
    align-items: center;
    justify-content: center;
}

.btnWorkbench:hover {
    background-color: rgba(11, 255, 202, 0.781);
}

/* --------------------- Exibição de Elementos --------------------- */
.titulosBoxMain .tit_proc,
.boxMainProcuracao {
    display: none;
}

.titulosBoxMain .tit_atpv,
.boxMainAtpv {
    display: flex;
}

/* --------------------- Títulos --------------------- */
.titulosBoxMain .tit_atpv,
.titulosBoxMain .tit_proc {
    align-items: center;
    justify-content: center;
    font-family: var(--fontePadrao);
    color: var(--corFonteTituloWorkbench);
}

.titulosBoxMain {
    position: absolute;
    background-color: rgba(0, 255, 21, 0);
}

/* --------------------- Caixas Principais --------------------- */
.boxMainProcuracao,
.boxMainAtpv {
    position: absolute;
    background-color: var(--corFundoWorkBench);
    align-items: center;
    justify-content: center;
}

/* --------------------- Formularios --------------------- */
.boxMainProcuracao .form,
.boxMainAtpv form {
    display: flex;
}

.boxMainAtpv form {
    flex-direction: column;
}

.boxMainProcuracao .form div input {
    font-family: var(--fontePadrao);
    color: var(--corFonteInputs);
    font-size: 30px;
    background-color: var(--corFundoInputs);
    border: 3px rgb(30, 51, 236) solid;
    border-width: 0 0 3px 0;

}


.boxMainAtpv form input {
    font-family: var(--fontePadrao);
    color: var(--corFonteInputs);
    font-size: 20px;
    background-color: var(--corFundoInputs);
    border: 3px rgb(30, 51, 236) solid;
    border-width: 0 0 3px 0;
    padding: 3px 10px;
}

label {
    font-family: var(--fontePadrao);
    color: var(--corFonteLabels);
}

/* --------------------- Responsividade --------------------- */

/* ----- Notebook 1366px ----- */
@media (min-width: 1300px) and (max-width: 1800px) {
    .btnBed {
        bottom: 0;
        right: 0;
        height: 110px;
        width: 352px;
    }

    .boxMainAtpv form div {

        display: flex;
        flex-direction: column;
    }

    .boxMainAtpv form {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .btnWorkbench {
        height: 50px;
        width: 100px;
    }

    .box1Proc,
    .box2Proc {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .box1Proc {
        width: 50%;
    }

    .box2Proc {
        width: 50%;
        align-items: flex-end;
        margin-bottom: 40px;
    }

    .tit_atpv,
    .tit_proc {
        font-size: 40px;
    }

    .titulosBoxMain,
    .boxMainProcuracao,
    .boxMainAtpv {
        margin-left: calc(38vh + 5vh);
        width: 828px;
        top: 140px;
    }

    .titulosBoxMain {
        height: 59px;
        top: 80px;
    }

    .form {
        width: 100%;
    }

    .nameInput,
    .cpfInput,
    .veiculoInput {
        padding: 5px 10px;
        height: 20px;
        font-weight: 500;
    }

    .input1-5 {
        width: 20%;
    }

    .nameInput {
        width: 80%;
    }

    .cpfInput {
        width: 50%;
    }

    .veiculoInput {
        width: 80%;
    }

    label {
        font-size: 15px;
    }

    .box2Proc label {
        display: flex;
        align-self: flex-start;
        margin-left: 67px;
    }
}

/* ----- Desktop 1920px ----- */
@media (min-width: 1800px) and (min-height: 900px) {

    .box1Proc,
    .box2Proc {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .box2Proc {
        align-items: flex-end;
    }

    .tit_atpv,
    .tit_proc {
        font-size: 50px;
    }

    .tit_proc {
        margin-right: 100px;
    }

    .titulosBoxMain,
    .boxMainProcuracao {
        margin-left: calc(30vh + 5vh);
        width: 912px;
    }

    .titulosBoxMain {
        height: 79px;
        top: 120px;
    }

    .boxMainProcuracao {
        height: 584px;
        top: 200px;
    }

    .form {
        width: 100%;
        gap: 40px;
    }

    .nameInput {
        height: 30px;
        width: 100%;
    }

    .cpfInput {
        height: 30px;
        width: 50%;
    }

    .veiculoInput {
        height: 30px;
        width: 80%;
    }

    label {
        font-size: 20px;
    }

    .box2Proc label {
        display: flex;
        align-self: flex-start;
        margin-left: 67px;
    }
}